/*
  Customize the logo in the homepage header
*/
#header-logo {
  background-image: url(./img/logo.png);
  background-size: contain;
  width: 30px;
  height: 30px;
}


.navbar-pf-vertical{background-color:white;border-bottom:1px solid #1F28BF;border-top:none;min-height:0}

.project-bar{background-color:#091e32}
.project-bar .catalog-search .landing-search-form .search-pf-input-group .form-control{background-color:#73D2CF;border-color:whitewhite;color:#0066ff}
.project-bar .add-to-project>.btn-link{background-color:#73D2CF;border:1px solid #030303}
.project-bar .add-to-project>.btn-link{color:#0066ff}


.nav-pf-vertical{background-color: #222c39;}
.nav-pf-vertical .list-group-item>a .fa,.nav-pf-vertical .list-group-item>a .pficon{color:#bcbfbf}
.nav-pf-vertical .list-group-item.active>a,.nav-pf-vertical .list-group-item.is-hover>a,.nav-pf-vertical .list-group-item>a:focus{background-color:#404040;color:#fff!important}

.nav-pf-vertical .list-group-item.active>a:before{background:#73D2CF}
.nav-pf-vertical .list-group-item.active>a .fa,.nav-pf-vertical .list-group-item.active>a .pficon,.nav-pf-vertical .list-group-item.is-hover>a .fa,.nav-pf-vertical .list-group-item.is-hover>a .pficon,.nav-pf-vertical .list-group-item>a:focus .fa,.nav-pf-vertical .list-group-item>a:focus .pficon{color:#73D2CF}


.nav-pf-vertical .nav-pf-secondary-nav{background:#404040;}
.nav-pf-vertical .nav-pf-secondary-nav .list-group-item.active>a,.nav-pf-vertical .nav-pf-secondary-nav .list-group-item.active>a:hover{background:#222c39}
.nav-pf-vertical .nav-pf-secondary-nav .list-group-item>a:focus,.nav-pf-vertical .nav-pf-secondary-nav .list-group-item>a:hover{background:#222c39}
